
.form-group {
    margin-bottom: 10px;
}
.card-text {
    padding: 25px 10px;
}
btn {
    padding: 7px 20px;
    font-size: 14px;
}

.mobile{
    width: 35%;
}

@media only screen and (max-width: 1000px) {
    .mobile{
        width: 60%;
    }
}